.currency-exchange__position {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.currency-exchange__position--topLeft {
    grid-area: topLeft;
}
.currency-exchange__position--top {
    grid-area: top;
    justify-content: center;
}
.currency-exchange__position--topRight {
    grid-area: topRight;
    justify-content: flex-end;
}
.currency-exchange__position--left1 {
    grid-area: left1;
}
.currency-exchange__position--right1 {
    grid-area: right1;
    grid-column: 2 / 4;
    justify-content: flex-end;
}
.currency-exchange__position--left2 {
    grid-area: left2;
}
.currency-exchange__position--bottomLeft {
    grid-area: bottomLeft;
}
.currency-exchange__position--bottomRight {
    grid-area: bottomRight;
    grid-column: 2 / 4;
    justify-content: flex-end;
}
.currency-exchange__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    cursor: pointer;
}
.currency-exchange__icon {
    width: 24px;
}
.currency-exchange__caption {
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.currency-exchange__link {
    font-size: 0;
}
.currency-exchange__currencies {
    font-size: 25px;
    padding: 10px 15px;
    padding-left: 0;
    background: rgba(250, 250, 250, 0.2);
    border: none;
}
.currency-exchange__value {
    max-width: 80%;
    font-size: 25px;
    padding: 10px 5px;
    text-align: right;
    background: rgba(250, 250, 250, 0.2);
    border: none;
    border-radius: 25px;
}
.currency-exchange__current-rate {
    margin: 0;
    font-size: 18px;
}
